<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-img class="logo" src="assets/logoWhite.png"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="logo2">
      <ion-card-title><img height="200" src="../../../assets/logo.png"></ion-card-title>
    </div>
    <ion-card style="margin-top: 5%; background: white;">
      <!-- <ion-card-title style="text-align: center;font-family: 'Modak', cursive;">Login</ion-card-title> -->
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input type="email" name="email" id="email" placeholder="E-mail" [(ngModel)]="form.email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" name="senha" id="senha" placeholder="Senha" type="password"
            [(ngModel)]="form.password"></ion-input>
        </ion-item>
        <ion-button color="danger" expand="full" (click)="login()" class="full-width" ion-raised-button
          style="background: rgba(255, 12,12,1);color: white;font-weight: bold;margin: 10px;">Logar</ion-button>
        <ion-button color="light" expand="full" (click)="cadastro()" class="full-width" ion-raised-button
          style="background:white;color:red;font-weight: bold;margin: 10px;">Cadastrar</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  <!-- <div id="container">
    <img src="'../../assets/perfil.png">

    <form>
      <div>
        <input color="black" class="email" type="email" name="email" id="email" [(ngModel)]="form.email" placeholder="Digite seu e-mail">
      </div>
      <br>
      <div>
        <input class="fas fa-unlock-alt" class="senha" type="password" name="senha" id="senha" [(ngModel)]="form.password"  placeholder="Digite seu senha">
      </div>
      <div>
          <ion-button color="success"  class="botao" expand="full" (click)="login()">Login</ion-button>
          <!-- <input href="/src/app/lojas/lojas.page.html" class="submit" type="submit" value="Login"> -->
  <!-- </div>
        <div>
            <ion-button expand="full" class="botao" color="warning"  (click)="cadastro()">Cadastrar-se</ion-button>
        <!-- <input class="submit2" type="submit" value="Cadastrar-se"> -->
  <!-- </div>
    </form>
  </div> -->
</ion-content>