<div class="container">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Categoria</mat-label>
    <input matInput placeholder="preencha o nome do produto" [(ngModel)]="produtos.name" required>
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Descrição</mat-label>
    <textarea matInput placeholder="Descreva a descrição da produto" rows="4"
      [(ngModel)]="produtos.description"></textarea>
  </mat-form-field>
  <div class="toolbar___form">
    <button mat-raised-button routerLink="/Produtos">Cancelar</button>
    <button mat-raised-button color="primary" (click)="save()">Salvar</button>
  </div>

</div>