<div class="container">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Nome do produto</mat-label>
    <input matInput placeholder="preencha o nome do produto" [(ngModel)]="produtos.name" required>
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>preço RS$</mat-label>
    <input matInput placeholder="Informe o preço do produto" rows="1"
      [(ngModel)]="produtos.precoNormal">
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>preço de Promoção</mat-label>
    <input matInput placeholder="Preço de Promoção" rows="1"
      [(ngModel)]="produtos.precoPromocao">
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Quantidade em Estque</mat-label>
    <input type="number" matInput placeholder="Estoque" rows="1"
      [(ngModel)]="produtos.estoque">
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Codigo de Controle</mat-label>
    <input type="number" matInput placeholder="Estoque" rows="1"
      [(ngModel)]="produtos.codigocontrole">
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Caminho da imagem</mat-label>
    <input matInput placeholder="Caminho da Imagem" rows="1"
      [(ngModel)]="produtos.codImg">
  </mat-form-field>
  <div class="toolbar___form">
    <button mat-raised-button routerLink="/Produtos">Cancelar</button>
    <button mat-raised-button style="background:#f06902; color:white" (click)="save()">Salvar</button>
  </div>

</div>