<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light"><h1>Profile</h1></ion-title>
    <ion-buttons style="float: right;margin: 0px; height: 20px;">
      <ion-button>
        <ion-icon color="light" slot="end" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="card">
    <img
    class="rounded-circle"
      src="https://shawetcanada.files.wordpress.com/2019/05/shutterstock_editorial_10243968do_huge.jpg?quality=80&strip=all&w=450&h=300&crop=1"
      alt="John" style="width:200px; height: 200px; border-radius: 100%; margin: 10px;" />
    <h1>John Doe</h1>
    <p class="title">CEO & Founder, Example</p>
    <p>Harvard University</p>
    <div style="margin: 24px 0;">
      <a href="#"><i class="fa fa-dribbble"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
    </div>
    <p>
      <ion-button id="botao" (click)="mostraDados()">Dados</ion-button>
    </p>
  </div>
  <p></p>
  <div id="dados" class="m-3" *ngFor="let user of users">
    <ion-item>
      <ion-input placeholder="Nome" >{{ user.name }}</ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Sobrenome"> {{ user.last }}</ion-input>
    </ion-item>
    <ion-list>
      <ion-radio-group >
        <ion-list-header>Sexo</ion-list-header>

        <ion-item>
          <ion-label>Feminino</ion-label>
          <ion-radio name="sexo" value="f"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Masculino</ion-label>
          <ion-radio name="sexo" value="m"></ion-radio>
        </ion-item>

      </ion-radio-group>
    </ion-list>
    <ion-item>
      <ion-input type="text" placeholder="Cidade" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="data" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="tel" placeholder="Telefone" >{{user.phone}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" placeholder="Celular" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="email" placeholder="E-mail" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="password" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="Co-password" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="RG" maxlength="10" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" placeholder="CPF"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Cartão de Crédito" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" placeholder="Código de Segurança" ></ion-input>
    </ion-item>
  </div>

</ion-content>