<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay" *ngIf="isLogged">
      <ion-header >
        <ion-toolbar color="danger">
          <ion-title color="light">Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content color="light">
        <ion-list style="background: red;" >
          <ion-menu-toggle class="my-side-menu" auto-hide="false"   *ngFor="let p of appPages">
            <ion-item  color="light" style="color:#e80800;" [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" color="danger" [name]="p.icon"></ion-icon>
              <ion-label style="color:#e80800;font-weight: bold;">
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet  main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
