@import '../../shared/global.scss';

mat-card {
  max-width: 400px;
  max-height: 200px;
}
mat-card-container {
  padding-top: 20px;
}
.container {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  background: url('https://images.unsplash.com/photo-1528399783831-8318d62d10e5?ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80');
  background-size: 100%;
  background-repeat: no-repeat;
}