@import '../../shared/global.scss';

mat-card {
  max-width: 400px;
  max-height: 700px;
}
mat-card-container {
  padding-top: 20px;
}
html,body{
  height: 100%;
}
.container {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  background: url('https://images.unsplash.com/photo-1525328437458-0c4d4db7cab4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  background-repeat: no-repeat;
}
.logo{
  position: absolute;
  top: 0;
  margin-top: 4%;
  background: transparent;
}
/* input color class */
::ng-deep input.mat-input-element {
  color: #484a4c;
}

/* Change label color on focused */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color:  #000000 !important;
}

/* underline border color on focused */
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
  background-color: rgba(255, 12,12,1) !important;
}