<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons  slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">{{mercados.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-searchbar animated placeholder="Buscar" (keyup)="filter($event.target.value)"></ion-searchbar> -->
  <ion-searchbar animated (ionInput)="filterList($event)" (ionClear)="ngOnInit()">
  </ion-searchbar>
  <!-- List of Input Items -->
  <ion-list>
    <ion-list>
      <ion-label>
        <ion-title>{{mercados.name}} <ion-icon name="cart"></ion-icon>
        </ion-title>
      </ion-label>
      <ion-item *ngFor="let produto of produtos; let i = index">
        <ion-avatar>
          <ion-img class="imagem" src="{{produto.codImg}}"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>{{ produto.name }}</h2>


          <p><b>R$ {{ produto.precoNormal }}</b></p>
        </ion-label>
        <!-- <ion-button type="checkbox" id="{{ produto.id }}" routerLink='/carrinho/{{produto.id}}' placeholder="click" (click)="Botao()" >
          <ion-icon name="add-circle"></ion-icon>
        </ion-button> -->
        <ion-label>
          <ion-select id="{{produto.id}}" class="Quantidade" name="selecao" placeholder="Qto" [(ngModel)]="armazena[i]">
            <ion-select-option value="0" checked>0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
          </ion-select>

        </ion-label>
        <!-- <ion-label>
          <ion-item>
            <ion-label>Carrinho</ion-label>
            <ion-toggle (click)="save()"></ion-toggle>
          </ion-item>

        </ion-label> -->

      </ion-item>
    </ion-list>
    <!-- fab placed to the (vertical) center and end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="warning" (click)="Alert()">
        <ion-icon name="cart"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-list>

</ion-content>