ion-content{
    --background: url('https://images.unsplash.com/photo-1516660755-1f67a7debcdb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80')   no-repeat center center / cover !important;
      background-size: 100%;
      background-attachment: fixed;
  
}
ion-list{
    margin-bottom:95px;
}
ion-title{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input{
    border-radius: 10px;
    background: #f3eeee;
    width: 10%;
    text-align: center;
}
input:hover{
    background: azure;
    
}
.seta{
    color: red;
}
.legenda{
    color: rgb(58, 57, 57);
    font-weight: bold;
}
.preco{
    color: rgb(224, 128, 38);
    font-weight: bold;
    font-size: 25px;
}
.searchbar-input .sc-ion-searchbar-ios{
    background: #f3eeee !important;
}