ion-content{
    --background: #cfcfcf  no-repeat center center / cover !important;
      background-size: 100%;
      background-attachment: fixed;
  
}

ion-title{
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}