<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-icon class="m-auto" name="cart"></ion-icon> Carrinho
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="corpo" padding>
  <ion-searchbar class="busca" animated placeholder="Buscar" (keyup)="filter($event.target.value)"></ion-searchbar>
  <!-- List of Input Items -->
  <ion-list>
    <ion-list>
      <ion-label>
        <ion-title>Seu carrinho <ion-icon name="cart"></ion-icon>
        </ion-title>
      </ion-label>
      <ion-item *ngFor="let carrinho of carrinhos">
        <!-- <ion-avatar>
            <img src="{{carrinho.img}}">
          </ion-avatar> -->
        <ion-label>
          <h2 class="legenda">{{ carrinho.nameProduto }}</h2>


          <p class="legenda"><b>R$ <span class="preco">{{ carrinho.precoNormal }}</span></b></p>
        </ion-label>

        <!-- <ion-label>
            Quantidade
          </ion-label>          -->
        <span class="legenda">Quantidade</span>
        <ion-icon class="seta" name="arrow-round-forward"></ion-icon><input type="number"
          value="{{carrinho.quantidade}}" />
      </ion-item>
    </ion-list>
    <!-- fab placed to the (vertical) center and end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="m-auto">
      <ion-fab-button color="warning" (click)="Alert2()">
        <ion-icon name="archive"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-list>


</ion-content>