<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img height="40" src="../../../assets/logoWhite.png">
      <!-- <ion-icon class="m-auto" name="cart"></ion-icon;">  -->
    </ion-title>
    <ion-buttons style="float: right;margin: 0px; height: 20px;">
      <ion-button>
        <ion-icon color="light" slot="end" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="corpo" padding>
  <ion-searchbar class="busca" animated placeholder="Buscar" (keyup)="filter($event.target.value)"></ion-searchbar>
  <!-- List of Input Items -->
  <ion-list>
    <ion-list>
      <ion-label>
        <ion-title>Seu carrinho <ion-icon name="cart"></ion-icon>
        </ion-title>
      </ion-label>
      <ion-item *ngFor="let carrinho of carrinhoProduto">
        <!-- <ion-avatar>
            <img src="{{carrinho.img}}">
          </ion-avatar> -->
        <ion-label>
          <h2 class="legenda" [(ngModel)]="carrinhoProduto.name">{{ carrinho.nameProduto }}</h2>


          <p class="legenda"><b>R$ <span [(ngModel)]="carrinhoProduto.preco" class="preco">{{ carrinho.valorTotal }}</span></b></p>
        </ion-label>

        <!-- <ion-label>
            Quantidade
          </ion-label>          -->
        <span class="legenda">Quantidade</span>
        <ion-icon class="seta" name="arrow-round-forward"></ion-icon><input type="number"
          value="{{carrinho.quantidade}}" [(ngModel)]="carrinhoProduto.quantidade" />
      </ion-item>
    </ion-list>
    <!-- fab placed to the (vertical) center and end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="m-auto">
      <ion-fab-button color="warning" (click)="AlertConfirmCompra()">
        <ion-icon name="archive"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-list>


</ion-content>