<div class="container">
  <app-input-file [image]="model.photo" (select)="selectedFile($event)"></app-input-file>
  <mat-form-field appearance="outline" class="full-width" col-100>
    <mat-label>Logo</mat-label>
    <input matInput placeholder="Coloque o caminho da foto" [(ngModel)]="model.photo" required>
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width" col-50>
    <mat-label>Nome</mat-label>
    <input matInput placeholder="preencha o nome do cliente" [(ngModel)]="model.name" required>
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width no-margin-righ" col-50>
    <mat-label>E-mail</mat-label>
    <input [disabled]="model.id" matInput placeholder="preencha o e-mail" type="email" [(ngModel)]="model.email" required>
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width no-margin-righ" col-50>
    <mat-label>CEP</mat-label>
    <input  matInput placeholder="Informe o CEP " type="number" [(ngModel)]="model.zipCode" required>
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width no-margin-righ" col-50>
    <mat-label>Telefone</mat-label>
    <input  matInput placeholder="Informe o CEP " type="number" [(ngModel)]="model.phone" required>
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width no-margin-righ" col-50>
    <mat-label>Cidade</mat-label>
    <input  matInput placeholder="Informe a Cidade " type="text" [(ngModel)]="model.city" required>
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width" col-50>
    <mat-label>Senha</mat-label>
    <input  [disabled]="model.id"  matInput placeholder="informe o seu novo telefone" type="password" [(ngModel)]="model.password" required>
  </mat-form-field>
  
  <!-- <section>
    <mat-checkbox [(ngModel)]="model.isRoot">Administrador</mat-checkbox>
  </section> -->
  <div class="toolbar___form">
    <button mat-raised-button routerLink="/Users">Cancelar</button>
    <button mat-raised-button class="new" (click)="save()">Salvar</button>
  </div>
</div>