<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Lojas</ion-title>
    <!-- <ion-menu-button slot="log-out"  color="" (click)="deslog()">
    </ion-menu-button> -->
    
      <ion-buttons style="float: right;margin: 0px; height: 20px;" >
        <ion-button (click)="deslog()" >
          <ion-icon color="light" slot="end" name="log-out" ></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <span class="list" *ngFor="let loja of lojas;let i = index">
    <ion-col size="3">
      <img id="{{loja.id}}" style="margin: 10px; " height="100px" src="{{loja.photo}}"
        (click)="su14(loja.id)">
    </ion-col>
  </span>
</ion-content>