<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Lojas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ul class="list">
    <!--Botão que redireciona para a página do Supermercado 14-->
    <li>
      <label>
        <ion-button size="large" class="s14" (click)="su14()">
        </ion-button>
      </label>
    </li>
    <!--Botão que redireciona para a página do Savegnago-->
    <li>
      <label>
        <ion-button size="large" class="sSav" (click)="suSav()">
        </ion-button>
      </label>
    </li>

    <li>
      <label>
        <ion-button size="large" class="sExt" (click)="suExt()">
        </ion-button>
      </label>

    </li>


    <li>
      <label>
        <ion-button size="large" class="sDia" (click)="suDia()">
        </ion-button>
      </label>
    </li>

    <li>
      <label>
        <ion-button size="large" class="sWal" (click)="suWal()">
        </ion-button>
      </label>
    </li>
    
    <li>
      <label>
        <ion-button size="large" class="sTon" (click)="suTon()">
        </ion-button>
      </label>
    </li>

    <li >
      <label>
        <ion-button size="large" class="sVal" (click)="suVal()">
        </ion-button>
      </label>
    </li>

    <li >
      <label>
        <ion-button size="large" class="sCar" (click)="suCar()">
        </ion-button>
      </label>
    </li>

  </ul>
</ion-content>