<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Loja 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-searchbar animated placeholder="Buscar" (keyup)="filter($event.target.value)"></ion-searchbar> -->
  <ion-searchbar animated (ionInput)="filterList($event)" 
                          (ionClear)="ngOnInit()">
  </ion-searchbar>
  <!-- List of Input Items -->
  <ion-list>
    <ion-list>
      <ion-label>
        <ion-title>Loja 1 <ion-icon name="cart"></ion-icon>
        </ion-title>
      </ion-label>
      <ion-item *ngFor="let produto of produtos">
        <ion-avatar >
          <ion-img src="{{produto.codImg}}"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2 >{{ produto.name }}</h2>


          <p><b >R$ {{ produto.precoNormal }}</b></p>
        </ion-label>
        <!-- <ion-button type="checkbox" id="{{ produto.id }}" routerLink='/carrinho/{{produto.id}}' placeholder="click" (click)="Botao()" >
          <ion-icon name="add-circle"></ion-icon>
        </ion-button> -->
        
          <ion-select id="{{produto.id}}" class="Quantidade" nam="selecao"    placeholder="Qto"  [(ngModel)]="carrinhos.quantidade">
            <ion-select-option value="0" checked>0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
          </ion-select>
        
         
        
        
        
      </ion-item>
    </ion-list>
    <!-- fab placed to the (vertical) center and end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="warning" (click)="save()">
        <ion-icon name="cart"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-list>
 
</ion-content>