<ion-app>
  <ion-split-pane   contentId="main-content">
    <ion-menu  type="overlay" *ngIf="isLogged">
      <ion-header >
        <ion-toolbar >
          <ion-title color="light">Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content style="background: red;">
        <ion-list style="background: red;" >
          <ion-menu-toggle class="my-side-menu" auto-hide="false"   *ngFor="let p of appPages">
            <ion-item   style="color:red;" [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" color="danger" [name]="p.icon"></ion-icon>
              <ion-label style="color:red;font-weight: bold;">
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <img style="margin-top: auto;" src="../assets/logo.png" />
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"  main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
