// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

/*ion-header  {
    
    background-image: url('assets/fundo.png') ;
    color: black;
    
}*/
*{
    font-family: 'Rubik', sans-serif;
}
.sc-ion-buttons-ios-h, .sc-ion-buttons-ios-s {
   
    
    color: black;
    

}

.ion-activatable{
    color:  #f4502a;
    border-bottom: none;
}
/*@font-face{
    font-family: 'Porcelain Regular';
    src: url('../assets/PorcelainRegular.woff');
    src: url('path/to/your/font/file');
   
}
*{
    font-family: 'PorcelainRegular';
}
@font-face {
    font-family: 'San Fransico';
    src: url('../assets/fonts/sanfransico.ttf');//mine
    src: url('path/to/your/font/file');//path to your font file
  }
  
  * {
    font-family: 'San Fransico';
  }
*/

ion-header > ion-toolbar{
    color: #694d06;
    
    
   
}
.logo{
    width: 100%;
    height: 50%;
}
.my-list-item{
    background: #333 !important;
    color:#fff !important;
    border:#564545 !important;
}
.my-side-menu{
    background: #333;
}
