<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-img class="logo" src="assets/test1.png"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <img src="'../../assets/perfil.png">

    <form>
      <div>
        <input color="black" class="email" type="email" name="email" id="email" [(ngModel)]="form.email" placeholder="Digite seu e-mail">
      </div>
      <br>
      <div>
        <input class="fas fa-unlock-alt" class="senha" type="password" name="senha" id="senha" [(ngModel)]="form.password"  placeholder="Digite seu senha">
      </div>
      <div>
          <ion-button color="success"  class="botao" expand="full" (click)="login()">Login</ion-button>
          <!-- <input href="/src/app/lojas/lojas.page.html" class="submit" type="submit" value="Login"> -->
        </div>
        <div>
            <ion-button expand="full" class="botao" color="warning"  (click)="cadastro()">Cadastrar-se</ion-button>
        <!-- <input class="submit2" type="submit" value="Cadastrar-se"> -->
      </div>
    </form>
  </div>
</ion-content>