ion-content{
    //--background: #7e7e7b url('../../assets/rato1.jpg') repeat center center / cover !important;
      background-size: 100%;
      background-attachment: fixed;
  
}

.imagem{
    border-radius: 0px;
   -webkit-border-radius: 0px;
}
ion-item{
  height: 100px;
}
ion-avatar{
  height: 80px;
}
p{
  color: red;
}
