
ion-content{
	// #e0dfdf
	background: rgb(243, 82, 82);
	// --background: url('https://images.unsplash.com/photo-1516660755-1f67a7debcdb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80')   no-repeat center center / cover !important;
	background-size: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	margin:auto;
}


.titulo{
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-transform: uppercase;
	color:#e80800;
	text-shadow: #7e7e7b 1px 1px 2px;
	font-size: 20px;
	text-align: center;
}

.card{
	background: #FFF;
	margin: 1%;
	width: 95%;
	height: 200px;
	margin: auto;
	color:red!important;
	padding: 0!important;
	margin: 4% 2%;
	
	
	// background-image: linear-gradient(to right top, #f80505, #bd0516, #820d18, #4a0f12, #180201);

}
.titulo2{
	color:'red';
	background:  rgba($color: #000000, $alpha: 0.4);
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 220px;
	width: 100%;
	text-align: center;
	align-items: center;
	
	
}
.subtitulo{
	position: absolute;
	top: 25%;
	left: 25%;
	right: 25%;
	bottom: 25%;
	color: whitesmoke;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: bold;
}
.texto{
	
	text-align: right;
	font-weight: bold;
}
.card:hover{
	border: 2px solid white;
	margin: 1%;
	width: 95%;
}
#carrinho{
	
	
	background: url('../../assets/cartBackground.jpg');
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	// height: 250px;
}

.imgcarrinho{
	height: 135px;
	z-index: 1;
}
.tituloCarrinho{
	color: white;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	z-index: 2;
	
}
#perfil{
	background: url('../../assets/profileBackground.png');
	background-size: 100%;
	background-position:center;
	background-repeat: no-repeat;
	
	// height: 270px;
}
.profile{
	background: transparent;
	border-radius: 80px;
}
.tituloPerfil{
	text-align: center;
	font-size: 30px;
	color:whitesmoke;
	font-weight: bold;
	
}
#loja{
	background: url('../../assets/shopping.jpg');
	// background:red!important;
	background-size: cover;
	// height: 320px;
}
.img{
	height: 120px;
	width: 120px;
	margin: auto;
}
.imgstore{
	height: 220px;
	width: 100%;
}
.button{
	border-radius: 15px;
	color: #FFF;
	font-weight: bold;

}
#cardHead{
	// background:url('../../assets/Oferta.png');
	background:url('../../assets/nrd-D6Tu_L3chLE-unsplash.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
	color: white;
	text-align: center;
	
	
}
.cardtext{
	color: white;
	font-size: 50px;
}
.column{
	margin: 0%;
	padding: 0%;
}