<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo"><img height="50" src="../../assets/logoWhite.png"> </ion-title>
    <ion-buttons style="float: right;margin: 0px; height: 20px;">
      <ion-button (click)="deslog()">
        <ion-icon color="light" slot="end" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button class="fndButtom" (click)="presentModal()">
          <ion-icon name="information-circle-outline"></ion-icon>
          <ion-label style="margin:auto;margin-right: 7px;">Pedidos</ion-label>
          <ion-badge class="Notification" >{{ Notification }}</ion-badge>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-text class="texto" color="dark">
          <h5>Bem vindo, {{user.name}} </h5>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>

    <ion-row>
      <!-- <ion-col class="column" size="12">
        <ion-card id="cardHead" class="card" (click)="oferta()">
          <ion-card-header>
            <ion-card-subtitle style="color: white;font-size:22px">Os melhores preços!</ion-card-subtitle>
            <ion-card-title class="cardtext">Ofertas do dia!</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col> -->
      <ion-col class="column" size="12">
        <ion-card id="carrinho" class="card" (click)="carrinho()">
          <ion-card-header>
            <ion-card-title class="titulo2">
              <h1 class="subtitulo">Carrinho</h1>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- <img class="img" height="10%" src="../../assets/shopping-cart.png" /> -->
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col class="column" size="12">
        <ion-card id="perfil" class="card" (click)='perfil()'>
          <ion-card-header>

            <ion-card-title class="titulo2">
              <h1 class="subtitulo">Perfil</h1>
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <!-- <img class="img" src="../../assets/teamwork.png" /> -->


          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col class="column" size="12">
        <ion-card id="loja" class="card" (click)='lojas()'>
          <ion-card-header>
            <ion-card-title class="titulo2">
              <h1 class="subtitulo">Lojas</h1>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- <img  class="img" src="../../assets/shop-2891677_960_720.png" /> -->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>