<div class="div-table mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="Nome do Produto">
      <th mat-header-cell *matHeaderCellDef>Nome do Produto</th>
      <td mat-cell *matCellDef="let element">{{ element.nameProduto }}</td>
    </ng-container>
    <ng-container matColumnDef="Quantidade">
      <th mat-header-cell *matHeaderCellDef>Quantidade</th>
      <td mat-cell type="date"*matCellDef="let element"> {{ element.quantidade }}</td>
    </ng-container>
    <ng-container matColumnDef="Preco_Uni">
      <th mat-header-cell *matHeaderCellDef>Preco_Uni</th>
      <td mat-cell *matCellDef="let element">R$ {{ element.postProdutos.precoNormal }}</td>
    </ng-container>
    <!-- <ng-container matColumnDef="SubCategoria">
      <th mat-header-cell *matHeaderCellDef>SubCategoria</th>
      <td mat-cell *matCellDef="let element">{{ element.subCategory }}</td>
    </ng-container> -->
    <tr mat-header-row *matHeaderRowDef="columns;"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
</div>