<div class="container-toolbar">
  <mat-form-field appearance="outline">
    <mat-label>Pesquisa</mat-label>
    <input matInput (keyup)="filter($event.target.value)" placeholder="Busque pelo nome do produto">
  </mat-form-field>
  <button class="new" mat-raised-button color=default routerLink="/Produtos/new">Novo Produto </button>
</div>
<div class="div-table mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="codImg">
          <th mat-header-cell *matHeaderCellDef>Imagem</th>
          <td mat-cell *matCellDef="let element"><img height="50" class="meio" src="{{ element.codImg }}" alt=""/></td>
        </ng-container>
    
    <ng-container matColumnDef="Nome">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell  *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <ng-container matColumnDef="precoNormal">
        <th mat-header-cell class="meio" *matHeaderCellDef>Preço Normal</th>
        <td mat-cell class="meio" *matCellDef="let element">R$ {{ element.precoNormal }}</td>
      </ng-container>
      <ng-container matColumnDef="precoPromocao">
          <th mat-header-cell class="meio" *matHeaderCellDef>Preço Promoção</th>
          <td mat-cell class="meio" *matCellDef="let element">R$ {{ element.precoPromocao }}</td>
        </ng-container>
        <ng-container matColumnDef="estoque">
          <th mat-header-cell class="meio" *matHeaderCellDef>Estoque(Unidades)</th>
          <td mat-cell class="meio" *matCellDef="let element"> {{ element.estoque }} </td>
        </ng-container>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" class="actions">
        <button mat-button routerLink="/Produtos/{{ element.id }}">
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="delete(element)" mat-button>
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns;"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10,20,50,100]" showFirstLastButtons></mat-paginator>
</div>